#red{
    color: red;
}

#blue{
    color: blue;
}

#orange{
    color: orange;
}

#green{
    color: green;
}

#yellow{
    color: yellow;
}
h2[id]{
    font-weight: normal;
}
img[src]{
    height: 200px;
    width: 200px;
}